body {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px #0000007a;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
form {
    text-align: center;
    display: inline-block;
}
button {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #cce4ff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
button:hover,
button:focus {
	background-color: #378f9f;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait)
{
	body {
		font-size: 56px;
	}
	form {
		display: flex;
		margin: 50px;
	}
	button {
		width: 560px;
		height: 180px;
		font-size: 44px;
		letter-spacing: 5px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape)
{
	body {
		font-size: 44px;
	}
	form {
		display: inline-block;
		margin: 2.5px;
	}
	button {
		width: 280px;
		height: 90px;
		font-size: 22px;
	}
}